{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
<div class="container">
	<div class="intro-banner-wrap">
		<img src="{% static 'images/banners/1.jpg' %}" class="img-fluid rounded">
	</div>
</div>
</section>

<!-- ========================= POPULAR PRODUCTS ========================= -->
<section class="section-name padding-y-sm">
<div class="container">
<header class="section-heading">
	<a href="{% url 'store' %}" class="btn btn-outline-primary float-right">See all</a>
	<h3 class="section-title">Сүүлд нэмэгдсэн {{ product_count }} бараа</h3>
</header>
	
<div class="row">
	{% for product in products %}
<div class="col-md-3">
    <div class="card card-product-grid">
        <a href="{% url 'product_detail' product.slug %}" class="img-wrap"> 
            <img src="{{ product.images }}" class="img-fluid"> 
        </a>

        <figcaption class="info-wrap">
            <a href="{% url 'product_detail' product.slug %}" class="title">{{ product.product_name }}</a>
            <div class="price mt-1">{{ product.price }}₮</div>
            <div class="text-muted">Category: {{ product.category_name }}</div>
        </figcaption>

    </div>
</div>
{% endfor %}
</div>

<!-- <header class="section-heading">
	<h3 class="section-title">Ангилал</h3>
</header> -->

<!-- <div class="row">
	{% for cat in categories %}
<div class="col-md-3">
    <div class="card card-product-grid">
        <a href="{% url 'store' %}?category={{ cat.slug }}" class="img-wrap"> 
            <img src="{{ MEDIA_URL }}{{ cat.cat_image }}" class="img-fluid">
        </a>
        <figcaption class="info-wrap">
            <a href="{% url 'store' %}?category={{ cat.slug }}" class="title">{{ cat.category_name }}</a>
        </figcaption>
    </div>
</div>
{% endfor %}
</div> -->
</div>
</section>
{% endblock %}
